.Card0 {
  margin-left: 3rem;
  margin-top: 4rem;
  margin-right: 2rem;
  width: 350px;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px black;
  overflow: hidden;
}

.upper-container {
  height: 100px;
  background: linear-gradient(to left, #1f2f7d, #fe490c);
}

.image-container .imgprofile {
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(125px, 45px);
}
.imgprofile {
  border: 2px solid #1f2f7d;
}

.lower-container {
  margin-top: 60px;
  /* height: 30px; */
  background: white;
  text-align: justify;
  margin-left: 2rem;
}

.lower-container h3 {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}

.lower-container h3 {
  color: #2f2d2e;
  font-weight: 700;
  font-size: 1.1rem;
}

.lower-container span {
  font-weight: 300;
  color: #2f2d2e;
  font-size: 0.9rem;
}

.buttonprofile {
  margin: 1.5rem;
  margin-left: 0rem;
  color: #2f2d2e;
  background-color: white;
  border: 2px solid #1f2f7d;
  padding: 0.6rem;
  border-radius: 6px;
  transition-duration: 0.5s;
  animation: ease-in-out;
}
.buttonSave {
  margin-right: 1.4rem;
  color: #2f2d2e;
  background-color: white;
  border: 2px solid #1f2f7d;
  padding: 0.6rem;
  border-radius: 6px;
  transition-duration: 0.5s;
  animation: ease-in-out;
}

.buttonprofile:hover {
  background-image: linear-gradient(to left, #1f2f7d, #fe490c);
  transform: scale(1.2);
  border: none;
  color: white;
}
.buttonSave:hover {
  background-color: #fe490c;
  transform: scale(1.2);
  border: none;
  color: white;
}
.flex {
  display: flex;
}
.flex2 {
  width: 300px;
  margin-bottom: 0.5rem;
  border: 2px solid #aaa;
  border-radius: 4px;
  padding: 4px;
  outline: none;
  /* box-sizing: border-box; */
  transition: 0.3s;
}
.flex1 {
  width: 150px;
}
.flex2:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerblue;
}
.flexproduct {
  display: flex;
  flex-wrap: wrap;
}
/* .flexproduct1{
  margin: 1rem;
} */
.Card1 {
  margin-top: 4rem !important;
  margin: 3rem;
  width: 210px;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px black;
  overflow: hidden;
}
.upper-container1 {
  height: 150px;
  width: 210px;
}
.lower-container1 {
  background: white;
  text-align: justify;
  margin-left: 1.4rem;
  margin-top: 1rem;
}
.lower-container1 p {
  text-align: initial;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: 'Damion', cursive;
  font-size: 20px;
}

.buttonup {
  margin-right: 0.5rem;
  margin-top: 1rem;
  color: #2f2d2e;
  background-color: white;
  border: 2px solid #1f2f7d;
  padding: 0.6rem;
  border-radius: 6px;
  transition-duration: 0.5s;
  animation: ease-in-out;
}
.buttonup:hover {
  background-color: #1f2f7d;
  transform: scale(1.2);
  border: none;
  color: white;
}
.buttonsup {
  color: #2f2d2e;
  background-color: white;
  border: 2px solid #1f2f7d;
  padding: 0.6rem;
  border-radius: 6px;
  transition-duration: 0.5s;
  animation: ease-in-out;
}
.buttonsup:hover {
  background-color: #e02121;
  transform: scale(1.2);
  border: none;
  color: white;
}

.ca {
  height: auto !important;
}
