.multer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
}
.rossi {
  width: 100%;
  margin-top: 20px;
}

.color {
  background-color: RGB(239, 239, 239);
  margin: auto;
  width: 70%;
}
.espace {
  margin-top: 4%;
  margin-bottom: 5%;
}
.obligation {
  font-weight: 600;
  margin: 20px auto;
  width: 70%;
}
.create {
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  font-size: 27px;
  margin: 0 0 15px;
}
.btn-secondary {
  background-color: #fe490c;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  outline: none;
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: 'Leckerli One', sans-serif;
}

.log {
  margin-top: 10px;
}
.form {
  margin-top: 10px;
}
.no-gutters {
  padding: 10px 30px;
}
.center {
  width: 70%;
  margin: auto;
}
@media (min-width: 960px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .login {
    margin-bottom: 40px;
  }
  .input {
    width: 100%;
  }
}
.label {
  color: #555;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
}
.input {
  width: 75%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
.inputtunis {
  margin: 0;
  width: 60%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555 !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
}

.inputtunis1 {
  margin: 0 !important;
  width: 25%;
  font-size: 14px;
  padding: 8px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
}
.position1 {
  margin-top: 1%;
  margin-left: 4%;
}
.ds {
  display: flex;
}

.espace {
  margin-top: 2%;
}
